{% extends 'layouts/base.html' %} 
{% load static %} 

{% block head %}
  <title>King Courier | Cambiar Estado</title>
  <link href="{% static 'styles/FormStyle.css' %}" rel="stylesheet" />
{% endblock head %} 

{% block header %}
    {% include 'layouts/navbar.html' %}
{% endblock header %}

{% block content %}

  <h1 class="titulo">Cambiar Estado</h1>
  <form method="POST" action="{% url 'cambiar_estado_pedido' pedido.id %}" enctype="multipart/form-data">  <!-- Agregar 'enctype' para manejar archivos -->
    {% csrf_token %}
    <label for="estado_seleccionado">Seleccionar estado:</label>
    <select id="estado_seleccionado" name="estado_seleccionado">
      {% for estado in estados %}
        <option value="{{ estado.id }}">{{ estado.nombre }}</option>
      {% endfor %}
    </select>
    <br>
    <label for="foto">Imagen:</label>
    <input type="file" id="foto" name="foto">
    <br>
    <button type="submit">Cambiar estado</button>
  </form>
  
{% endblock content %}
