{% extends 'layouts/base.html' %} 
{% load static %} 

{% block head %}
  <title>King Courier | Crear Pedido</title>
  <link href="{% static 'styles/FormStyle.css' %}" rel="stylesheet" />
{% endblock head %} 

{% block header %}
    {% include 'layouts/navbar.html' %}
{% endblock header %}

{% block content %}

  <h1 class="titulo">Nuevo Pedido</h1>
  {{error}}
  <form action="{% url 'create_pedido' %}" method="POST">
    {% csrf_token %}
    {{form}}
    <button>Guardar</button> 
  </form>
 
  
{% endblock content %}
