{% extends 'layouts/base.html' %} 

{% load static %}

{% block head %}
    <title>King Courier | Tus pedidos</title>
    <link href="{% static 'styles/TableStyle.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'scripts/SearchTable.js' %}"></script>
{% endblock head %}

{% block header %}
    {% include 'layouts/navbar.html' %}
{% endblock header %}

{% block content %}
<h1 class="text-center"> Tus Pedidos</h1>
  {% if message %}
    <div class="alert alert-info" role="alert">
      {{message}}
    </div>
  {% endif %}


    <div class="search-container d-flex justify-content-between align-items-center mb-3">
      <div class="mr-4 ml-4 btnCreate">
        <a class="btn btn-success w-150" href="{% url 'create_pedido' %}" role="button">Nuevo Pedido</a>
      </div>
      <div class="mr-4 search">
        <input type="text" class="form-control w-300" id="search-input" placeholder="Buscar...">
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Cliente</th>
              <th>Mensajero</th>
              <th>Sucursal</th>
              <th>Destino</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for pedido, detalle in listas_combinadas %}
            <tr>
              <td>{{pedido.id}}</td>
              <td>{{pedido.id_cliente.nombre}}</td>
              <td>{{pedido.id_mensajero.nombre}}</td>
              <td>{{pedido.id_sucursal_origen.nombre}}</td>
              <td>{{pedido.id_sucursal_destino.nombre}}</td>
              <td>{{detalle.id_estado.nombre}}</td>
              <td> 
                <a class="btn btn-info" href="{% url 'detalle_pedido' pedido.id %}" role="button">Detalles<a>             
                <a class="btn btn-danger" href="{% url 'cancelar_pedido' pedido.id %}" role="button">Cancelar</a>  
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

{% endblock content %} 
