<form>
    <div class="auth">
        <div class="auth__body">
          <form class="form" autocomplete="off">
            <div class="form_body">
              <div>
                <div class="form-group">
                  <label class="text-uppercase small">Usuario</label>
                  <input type="email" class="form-control" placeholder="User">
                </div>
                <div class="form-group">
                  <label class="text-uppercase small">Contraseña</label>
                  <input type="password" class="form-control" placeholder="Password">
                </div>
              </div>
            </div>
            <div class="form_actions">
              <button class="btn btn-primary btn-lg btn-block">
                Iniciar Sesion
              </button>
            </div>
          </form>
        </div>
      </div>
  </form>